<span class="footerTop"></span>
<footer>
  <div class="container footer">
    <div class="row">
      <div class="col-sm-4">
        <h3><span class="glyphicon glyphicon-calendar"></span> Our Hours</h3>
        <p>We are open whenever dom and candace are not sleeping</p>
        <ul class="list-unstyled">
          <li><span class="glyphicon glyphicon-star"></span>  <b>Monday - Friday:</b> 12PM-1AM</li>
          <li><span class="glyphicon glyphicon-star"></span>  <b>Saturday:</b> 12PM-1AM</li>
          <li><span class="glyphicon glyphicon-star"></span>  <b>Sunday:</b> 12PM-1AM</li>
        </ul>
        <p>Also call us at (343) 343-3434 anytime day and night... Late night gets interesting
      </div>
      <div class="col-sm-4">
        <h3><span class="glyphicon glyphicon-book"></span> Latest News</h3>
      </div>
      <div class="col-sm-4">
        <h3>We're social and we know it!</h3>
      </div>
    </div>
  </div>
</footer>
