<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div id="carousel-main" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://dummyimage.com/545x231/efefef/000000.jpg&text=Slide+1" alt="">
          </div>
          <div class="item">
            <img src="http://dummyimage.com/545x231/efefef/000000.jpg&text=Slide+2" alt="">
          </div>
          <div class="item">
            <img src="http://dummyimage.com/545x231/efefef/000000.jpg&text=Slide+3" alt="">
          </div>
        </div>
        <div class="carousel-footer">
          <ol class="carousel-indicators">
            <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-main" data-slide-to="1"></li>
            <li data-target="#carousel-main" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h1>Welcome to Banana’s</h1>
      <p>Halvah apple pie cake lollipop lollipop cookie.
         Carrot cake bonbon toffee tootsie roll. Bear claw croissant powder tootsie roll dessert.
         Halvah apple pie cake lollipop lollipop cookie.
            Carrot cake bonbon toffee tootsie roll. Bear claw croissant powder tootsie roll dessert.Halvah apple pie cake lollipop lollipop cookie.
               Carrot cake bonbon toffee tootsie roll. Bear claw croissant powder tootsie roll dessert.
               Halvah apple pie cake lollipop lollipop cookie.
                  Carrot cake bonbon toffee tootsie roll. Bear claw croissant powder tootsie roll dessert.
         </p>
      <div class="text-center"><a  class="btn btn-jumbo btn-lg">Find out Why!</a></div>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <div class="col-sm-5">
      <h2>Some other stupid headline</h2>
      <div class="panel panel-frilled lined">
        <div class="panel-body">
          <p>Applicake ice cream applicake sweet roll cake marzipan.
             Halvah apple pie cake lollipop lollipop cookie.
             Carrot cake bonbon toffee tootsie roll. Bear claw croissant powder tootsie roll dessert.
            <img class="iceMonster" src="images/shared/icemonster.png"/>
            Halvah apple pie cake lollipop lollipop cookie.  Other stupid stuff i keep Halvah apple pie cake lollipop
            Other stupid stuff i keep Halvah apple pie cake lollipopOther stupid
          </p>
          <a class="readMore" href=""><span class="glyphicon glyphicon-heart"></span> Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <h2>Straight from the freezer!</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-frilled">
            <div class="panel-body">
              <img class="img-responsive" src="http://dummyimage.com/545x291/efefef/000000.jpg&text=Slide+3" alt="" />
              <div class="text-center thumbnailName">
              <b>Some Food Item</b>
              <span>Some Tag line for that food item</span>
            </div>
          </div>
        </div>
      </div>
        <div class="col-sm-6">
          <div class="panel panel-frilled">
            <div class="panel-body">
              <img class="img-responsive"src="http://dummyimage.com/545x291/efefef/000000.jpg&text=Slide+3" alt="" />
              <div class="text-center thumbnailName">
              <b>Some Food Item</b>
              <span>Some Tag line for that food item</span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
