@import "compass/css3/images";
body{
  background:url("/images/shared/bg.gif");
}
header{
  background:url("/images/shared/awning.png") center top repeat-x;
}
footer{
  background:url("/images/shared/footerBg.gif") center top ;
}
.footerTop{
  display:block;

  height: 26px;

  background: url("/images/shared/footerTape.png") repeat-x center top;
  margin-top:30px;
}
.awning-top{padding-top:50px;}

h1{
  margin-top:0px;
}

//index
#carousel-main{
  background:#FFFFFF;
  &:before{
    position:absolute;
    width:100%;
    top:-10px;
    display:block;
    height:10px;
    content: "";
    background: linear-gradient(-45deg, white 50%, transparent 50%) 0 50%,
                linear-gradient( 45deg, white 50%, transparent 50%) 0 50%;
    background: -webkit-linear-gradient(135deg, white 50%, transparent 50%) 0 50%,
                -webkit-linear-gradient(45deg, white 50%, transparent 50%) 0 50%;
    background: linear-gradient(-45deg, white 50%, transparent 50%) 0 50%,
                linear-gradient( 45deg, white 50%, transparent 50%) 0 50%;
    background-repeat: repeat-x;
    background-size:10px 10px, 10px 10px;
  }
  &:after{
    position:absolute;
    width:100%;
    bottom:-10px;
    display:block;
    height:10px;
    content: "";
    background: linear-gradient(-45deg, transparent 50%, white 50%) 0 50%,
                linear-gradient( 45deg, transparent 50%, white 50%) 0 50%;
    background: -webkit-linear-gradient(135deg, transparent 50%, white 50%) 0 50%,
                -webkit-linear-gradient(45deg, transparent 50%, white 50%) 0 50%;
    background: linear-gradient(-45deg, transparent 50%, white 50%) 0 50%,
                linear-gradient( 45deg, transparent 50%, white 50%) 0 50%;
    background-repeat: repeat-x;
    background-size:10px 10px, 10px 10px;
  }
  .item{
    padding:5px;
  }

  .carousel-footer{
    .carousel-indicators{
      position:static;
      text-align:right;
      margin:0px;
      padding:0 10px 0 0;
      width:auto;
      li{
        background-color:darken($primaryBlue, 15%);
        position:static;
        margin:0px;
        text-align:right;
        border:0px;
        @include square(14px);
      }
      .active{
        @include square(14px);
        background-color:$primaryBlue;
      }
    }
  }
}

.panel-frilled{
  border-radius:0px;
  border:0px;
  margin-bottom:30px;
  .panel-body{
    margin:-5px 0;
    padding:0px 10px;
    color:#988e95;
    .thumbnailName{
      span{
        display:block;
        color:darken(#f3cec7,15%);
      }
    }
  }
  &:before{
    position:relative;
    top:-10px;
    display:block;
    height:10px;
    content: "";
    background: linear-gradient(-45deg, white 50%, transparent 50%) 0 50%,
                linear-gradient( 45deg, white 50%, transparent 50%) 0 50%;
    background: -webkit-linear-gradient(135deg, white 50%, transparent 50%) 0 50%,
                -webkit-linear-gradient(45deg, white 50%, transparent 50%) 0 50%;
    background: linear-gradient(-45deg, white 50%, transparent 50%) 0 50%,
                linear-gradient( 45deg, white 50%, transparent 50%) 0 50%;
    background-repeat: repeat-x;
    background-size:10px 10px, 10px 10px;
  }
  &:after{
    position:relative;
    bottom:-10px;
    display:block;
    height:10px;
    content: "";
    background: linear-gradient(-45deg, transparent 50%, white 50%) 0 50%,
                linear-gradient( 45deg, transparent 50%, white 50%) 0 50%;
    background: -webkit-linear-gradient(135deg, transparent 50%, white 50%) 0 50%,
                -webkit-linear-gradient(45deg, transparent 50%, white 50%) 0 50%;
    background: linear-gradient(-45deg, transparent 50%, white 50%) 0 50%,
                linear-gradient( 45deg, transparent 50%, white 50%) 0 50%;
    background-repeat: repeat-x;
    background-size:10px 10px, 10px 10px;
  }
  &.lined{
    .panel-body{
      border:1px solid #f3cec7;
      padding:10px;
      margin:-5px 10px;
      position:relative;
      .iceMonster{
        z-index:999;
        position:relative;
        float:right;
        margin:20px -20px -45px 0;
      }
      .readMore{
          color:darken(#f3cec7,15%);
          font-weight:bold;
          margin-top:10px;
          display:block;
          text-transform:uppercase;
      }
    }
  }
}
.footer{
  h3 {
    margin-top:0px;
    .glyphicon{
      padding-right:5px;
      font-size:24px;
    }
  }
  li{
    span {
      margin-left:5px;
      @include rotate(-10deg);
      color: darken($primaryBlue, 20%);
    }
  }
}
h2{
  margin-bottom:15px;
}


.btn-jumbo {
  @include button-variant($btn-success-color, $primaryBlue, darken($primaryBlue, 15%));
  font-weight:700;


}
