body{
  background:url("/images/shared/bg.gif");
}
header{
  background:url("/images/shared/awning.png") center top repeat-x;
}
footer{
  background:url("/images/shared/footerBg.gif") center top ;
}
.footerTop{
  background: url("/images/shared/footerTape.png") repeat-x center top;
  height: 26px;
  display:block;
}
.awning-top{padding-top:50px;}
